body {
    background-color: thistle;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: black;
}

.centerText {
    text-align: center;
}

.underline {
    text-decoration: underline;
}